aiofiles                 
aiogram                  
aiohttp                  
aiosignal          
annotated-types          
anyio          
argon2-cffi          
async-timeout    
attrs               
Babel               
backcall                 
beautifulsoup4          
bleach                   
cachetools             
certifi
cffi
charset-normalizer
colorama
comtypes            
dataclasses-json     
debugpy             
decorator            
defusedxml           
distlib              
distro               
entrypoints           
et_xmlfile           
exceptiongroup         
filelock              
frozenlist            
google-api-core        
google-api-python-client 
google-auth              
google-auth-httplib2     
google-auth-oauthlib     
googleapis-common-protos 
gspread                 
h11                      
httpcore                
httplib2               
httpx                 
idna                    
ipykernel              
ipython                 
ipython-genutils        
isodate                
jedi                   
Jinja2                   
json5                   
jsonschema              
jupyter-client          
jupyter-core           
jupyter-server         
jupyterlab              
jupyterlab-pygments    
jupyterlab-server     
magic-filter         
MarkupSafe              
marshmallow             
matplotlib-inline      
mistune               
multidict             
mypy-extensions          
nbclassic                
nbclient                 
nbconvert                
nbformat                
nest-asyncio            
notebook                
oauthlib              
openai                  
openpyxl               
packaging              
pandocfilters           
parso                   
pickleshare              
pillow                  
pip                     
platformdirs            
prometheus-client        
prompt-toolkit         
proto-plus             
protobuf               
pyasn1                 
pyasn1_modules           
PyAudio                  
pycparser                
pydantic                 
pydantic_core            
pygame                   
Pygments                 
pyparsing                
pypiwin32                
pyrsistent               
pyTelegramBotAPI         
python-dateutil         
python-dotenv            
python-youtube           
pyttsx3                  
pytz                     
pywin32                  
pywinpty                 
pyzmq                    
requests                 
requests-oauthlib        
rsa                     
Send2Trash               
setuptools               
six                      
sniffio                  
soupsieve                
SpeechRecognition       
terminado                
testpath                
tornado                
tqdm                    
traitlets               
typing_extensions        
typing-inspect           
uritemplate             
urllib3                  
virtualenv               
wcwidth               
webencodings           
websocket-client        
wikipedia               
yarl       
